<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div [@growDown] class="container mat-toolbar mat-accent mat-elevation-z4" *ngIf="opened">
  <p class="message mat-body-strong" [innerHTML]="message"></p>
  <div class="action-row">
    <button *ngFor="let action of actions; let idx=index;" type="button" mat-button (click)="actionClicked(idx)">
      {{action}}
    </button>
  </div>
</div>
