<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<button *ngIf="!user"
        (click)="onLoginClicked()"
        [attr.data-sem]="'login'"
        [disabled]="false"
        mat-menu-item>
  <mat-icon>login</mat-icon>
  <span>{{ 'login' | translate}}</span>
</button>

<button *ngIf="user"
        (click)="onLogoutClicked()"
        [attr.data-sem]="'logout'"
        [disabled]="false"
        mat-menu-item>
  <mat-icon>logout</mat-icon>
  <span>{{user.name}}</span>
</button>
