<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div class="page">
  <app-banner #banner></app-banner>
  <mat-toolbar class="mat-elevation-z4" color="primary">
    <mat-progress-bar *ngIf="busy" data-sem="progressBar" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="{{ 'back' | translate }}" (click)="onBackClicked()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="title-container" fxFlex="1 1 100%"
          fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px"
          fxLayout.xs="column" fxLayoutAlign.xs="start start" fxLayoutGap.xs="-8px">
<!--        <span class="title" *ngIf="!recipeDefinition">-->
<!--              <ic-icon [icon]="homeIcon" [inline]="true"></ic-icon>-->
<!--        </span>-->
        <span class="title" *ngIf="recipeDefinition">{{recipeDefinition.name}}</span>
      </h2>
      <span class="spacer"></span>
      <button [matMenuTriggerFor]="dropdownMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu #dropdownMenu>
    <app-login-menuitem #login (onLoginError)="onError($event)"></app-login-menuitem>
    <mat-divider></mat-divider>
    <app-about-menuitem></app-about-menuitem>
  </mat-menu>

  <div class="scrollWrapper" *ngIf="recipeDefinition">
    <div class="scroll">
      <div style="text-align: center">
        <img [src]="getImageUrl()" class="recipeImage"/>
      </div>

      <mat-card>

        <div *ngFor="let rs of recipeDefinition.recipeSections">

          <h2 *ngIf="rs.name">{{rs.name}}</h2>

          <h4>{{ 'ingredients' | translate}}</h4>

          <ul>
            <li *ngFor="let i of rs.ingredients">
              <p>{{i}}</p>
            </li>
          </ul>

          <h4>{{ 'instructions' | translate}}</h4>

          <ol>
            <li *ngFor="let i of rs.instructions">
              <p [innerHTML]="formatInstruction(i) | safeHtml"></p>
            </li>
          </ol>
          <mat-divider></mat-divider>
        </div>

      </mat-card>

      <mat-card *ngIf="recipeDefinition.hints">
        <h4>{{ 'hints' | translate}}</h4>
        <ul>
          <li *ngFor="let c of recipeDefinition.hints">
            <p>{{c}}</p>
          </li>
        </ul>
      </mat-card>

<!--      <mat-card>-->
<!--        {{recipeDefinition.cookTime}}-->
<!--        {{recipeDefinition.prepTime}}-->
<!--        {{recipeDefinition.difficulty}}-->
<!--      </mat-card>-->

      <mat-card>
        <mat-chip-list aria-orientation="horizontal" aria-label="Keywords">
          <mat-chip *ngFor="let k of recipeDefinition.keywords" color="accent">{{k}}</mat-chip>
        </mat-chip-list>
      </mat-card>


      <mat-card>
        <mat-chip-list aria-orientation="horizontal" aria-label="devices">
          <mat-chip *ngFor="let d of recipeDefinition.devices" color="primary" selected>{{d}}</mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card>
        <h4>{{ 'collections' | translate}}</h4>
        <ul>
          <li *ngFor="let c of recipeDefinition.collections">
            <p>{{c}}</p>
          </li>
        </ul>
      </mat-card>

      <mat-card>
        <p>{{recipeDefinition.author}}</p>
        <p>{{recipeDefinition.source}}</p>
        <p>{{recipeDefinition.documentVersion}}|{{recipeDefinition.locale}}</p>
      </mat-card>


    </div>
  </div>

  <div class="fab-container" *ngIf="!busy">
    <button color="warn" (click)="onPublishClicked();" data-sem="publish_do"
            mat-fab>
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>
