<!--
  #%L
  recipeton-cookbook-service-fe
  %%
  Copyright (C) 2021 tincomisc
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div class="page">
  <app-banner #banner></app-banner>

  <mat-toolbar class="mat-elevation-z4" color="{{searchMode?'accent':'primary'}}">
    <mat-progress-bar *ngIf="busy" data-sem="progressBar" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar-row fxFill fxLayout="row" fxLayoutAlign="space-around center">
      <div *ngIf="!searchMode">
        <h2 class="title-container">
          <span class="title" fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="8px">
            <ic-icon *ngIf="!isSearchTermsTitle()" [icon]="homeIcon" [inline]="true"></ic-icon>
            <mat-chip-list aria-orientation="horizontal" aria-label="Keywords">
              <mat-chip *ngFor="let k of getSearchKeywords()" (click)="onKeywordClicked(k)" matChipRemove color="accent"
                        selected>
                <div class="mat-chip-text">{{k}}</div>
                <mat-icon matChipRemove (click)="onKeywordClicked(k)">cancel</mat-icon>
              </mat-chip>
              <mat-chip *ngIf="this.searchCookbook" (click)="onCookbookClicked(this.searchCookbook)" matChipRemove
                        color="accent" selected>
                <div class="mat-chip-text">{{this.searchCookbook.name}}</div>
                <mat-icon matChipRemove (click)="onCookbookClicked(this.searchCookbook)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </span>
        </h2>
      </div>
      <div [ngClass]="{'active':searchMode}" class="toolbar-search-container" fxFlex fxLayoutAlign="end center">
        <mat-form-field>
          <input #queryInput autocomplete="off" data-sem="search" matInput placeholder="{{ 'query' | translate}}"
                 type="search">
        </mat-form-field>
        <button (click)="onSearchButtonClicked()" class="search-icon" data-sem="search_toggle_do" mat-icon-button
                type="button">
          <mat-icon *ngIf="!searchMode" class="mat-18">search</mat-icon>
          <mat-icon *ngIf="searchMode" class="mat-18">{{ 'close' | translate}}</mat-icon>
        </button>
      </div>
      <button [matMenuTriggerFor]="dropdownMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu #dropdownMenu>
    <app-login-menuitem #login (onLoginError)="onError($event)"></app-login-menuitem>
    <mat-divider></mat-divider>
    <app-about-menuitem></app-about-menuitem>
  </mat-menu>

  <mat-card *ngIf="!searchResults && !busy" data-sem="recipeKeywords_container">
    <mat-chip-list aria-orientation="horizontal" aria-label="Keywords">
      <mat-chip *ngFor="let k of recipeKeywords" (click)="onKeywordClicked(k)" color="accent">{{k}}</mat-chip>
    </mat-chip-list>

  </mat-card>

  <mat-card *ngIf="!searchResults && cookbooks && !busy">
    <mat-chip-list aria-orientation="horizontal" aria-label="Keywords">
      <mat-chip *ngFor="let c of cookbooks" (click)="onCookbookClicked(c)"
                [color]="isCookbookPublished(c) ? 'warn': 'primary'" selected>{{c.name}}</mat-chip>
    </mat-chip-list>
  </mat-card>

  <div class="scrollWrapper" >
    <cdk-virtual-scroll-viewport #scrollViewport tvsItemSize="150" headerHeight="0" headerEnabled="false" class="scroll">
      <table [dataSource]="dataSource" class="mat-elevation-z1" data-sem="recipes_container" mat-table>
        <ng-container matColumnDef="recipe">
          <th *matHeaderCellDef mat-header-cell>{{ "name" | translate}}</th>
          <td (click)="onRowClicked(r)" *matCellDef="let r" data-sem="recipeSummary_name" mat-cell>
            <span>{{ r.title }}</span>

            <div class="mat-chip-container">
              <mat-chip-list ariaOrientation="horizontal" aria-label="Keywords" [multiple]="true">
                <mat-chip *ngFor="let k of r.keywords" (click)="onKeywordClicked(k)" color="accent"
                          [selected]="isKeywordSelected(k)"><small>{{ k }}</small></mat-chip>
                <mat-chip *ngIf="isPublished(r)" color="warn" selected><small>{{'published' | translate}}</small></mat-chip>
              </mat-chip-list>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td (click)="onRowClicked(r);" *matCellDef="let r" align="right" class="actions" mat-cell>
            <!--            <img [src]="getThumbnailUrl(r)" loading="lazy"/>-->
            <img [src]="getThumbnailUrl(r)" class="thumbnail" (click)="onThumbnailClicked(r)"/>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" hidden mat-header-row></tr>

        <tr *matRowDef="let r; columns: displayedColumns;" [attr.data-semq]="r.id"
            class="element-row" [class.selected-row]="isSelected(r)" data-sem="recipeCollection_container" mat-row>
        </tr>

      </table>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="fab-container" *ngIf="!busy && searchResults">
    <button color="warn" (click)="onPublishClicked();" [disabled]="isPublishDisabled()" data-sem="publish_do"
            mat-fab>
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>
